html{
    width: 80%;
    margin: auto;
    background-color: blue;
}

h1{
    color: blue;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: greenyellow;
    padding: 20px;
}